@import url("http://fonts.useso.com/css?family=Play:700,400");
@import url("http://fonts.useso.com/css?family=Sanchez");
* {
  margin: 0;
  padding: 0;
}
body {
  color: #bebebe;
  font-family: "Helvetica Neue", Roboto, 'Open Sans', Tahoma, Arial, "Droid Sans", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", 'Microsoft Yahei', Simsun, sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: #000;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", 'Microsoft Yahei', Simsun, sans-serif;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
.transition {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a {
  text-decoration: none;
  color: #009cdc;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .inner {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .padding {
    padding: 0 20px;
  }
}
#main-col {
  width: 900px;
}
@media screen and (max-width: 1200px) {
  #main-col {
    width: 100%;
    margin-right: -300px;
  }
}
@media screen and (max-width: 992px) {
  #main-col {
    margin-right: 0;
    float: none;
  }
}
@media screen and (max-width: 1200px) {
  #wrapper {
    margin-right: 300px;
  }
}
@media screen and (max-width: 992px) {
  #wrapper {
    margin-right: 0;
  }
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
#header {
  text-shadow: 0 0 2px #fff;
  margin: 50px auto;
}
@media screen and (max-width: 992px) {
  #header {
    margin: 0 auto;
  }
}
#header a {
  color: #28ff28;
}
#header a:hover {
  color: #009cdc;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  #header .alignleft {
    text-align: center;
    width: 100%;
  }
}
#header .alignleft h1 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1;
}
@media screen and (max-width: 992px) {
  #header .alignleft h1 {
    padding: 35px 0;
    margin-top: 50px;
  }
}
#header .alignleft h1 a {
  font-family: 'Play', "Hiragino Sans GB", cursive, "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", Simsun, sans-serif;
}
#header .alignleft h1 a:hover {
  color: #009cdc;
}
@media screen and (max-width: 992px) {
  #header .alignleft h1 a {
    color: #28ff28;
  }
}
#header .alignleft h2 {
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1;
  margin-top: 10px;
}
#header .alignleft h2 a {
  font-family: 'Play', "Hiragino Sans GB", cursive, "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", Simsun, sans-serif;
}
#header #main-nav {
  font-family: 'Open Sans', Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", 'Microsoft Yahei', Simsun, sans-serif;
  padding-top: 10px;
  letter-spacing: 1px;
}
#header #main-nav .toggle {
  z-index: 2;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#header #main-nav .toggle .fa-bars {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
  color: #fff;
}
#header #main-nav ul {
  list-style: none;
  z-index: 10;
}
#header #main-nav ul li {
  height: 100%;
  float: left;
  margin-right: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  #header #main-nav ul li {
    margin-right: 0;
    height: 34px;
  }
}
#header #main-nav ul li .rss-top {
  color: #009cdc;
}
#header #main-nav ul li a {
  height: 100%;
  line-height: 30px;
  display: block;
  font-size: 1em;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transitionall: 0.25s linear;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
@media only screen and (min-width: 992px) {
  #header #main-nav ul li a {
    line-height: 20px;
  }
  #header #main-nav ul li a:hover,
  #header #main-nav ul li a:focus {
    -webkit-box-shadow: inset 0px -2px #009cdc;
    box-shadow: inset 0px -2px #009cdc;
    -webkit-box-shadow: inset 0px -2px #009cdc;
    -moz-box-shadow: inset 0px -2px #009cdc;
  }
}
#toggle,
.toggle {
  display: none;
}
@media only screen and (max-width: 992px) {
  .menu {
    max-height: 40%;
    overflow-y: auto;
    background: #000;
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 100%;
    position: absolute;
    right: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50,50,50,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(50,50,50,0.4);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50,50,50,0.4);
    box-shadow: 0px 2px 5px 0px rgba(50,50,50,0.4);
  }
  .menu,
  .menu > li,
  .menu > li > a {
    height: auto;
    width: 100%;
    overflow-x: hidden;
  }
  .menu > li {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
  }
  .menu > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu > li > a:hover,
  .menu > li > a:focus {
    background: #ddd;
  }
  .toggle:after {
    content: 'Main Menu';
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: #009cdc;
    font-size: 12px;
    color: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggle:hover:after {
    background: #0090cb;
  }
  #toggle:checked + .toggle:after {
    content: 'Close Menu';
  }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #toggle:checked ~ .menu {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    position: absolute;
    top: 50px;
    left: 0;
  }
}
#page-heading-wrap {
  text-align: left;
  line-height: 1.4em;
  padding: 35px 0;
  background: #3c3c3c;
  border-top: 1px solid #28ff28;
  border-bottom: 1px solid #28ff28;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  #page-heading-wrap {
    margin-bottom: 30px;
  }
}
#page-heading-wrap .inner {
  position: relative;
}
#page-heading-wrap .inner h1,
#page-heading-wrap .inner h2 {
  color: #fff;
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.4em;
}
#page-heading-wrap .inner ul {
  margin-top: 10px;
  font-size: 0.9em;
  list-style: none;
}
#page-heading-wrap .inner ul li {
  display: inline;
  margin-right: 15px;
  margin-top: 5px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  #page-heading-wrap .inner ul li {
    display: block;
    margin-top: 0;
    line-height: 22px;
  }
}
#page-heading-wrap .inner ul li time {
  color: #eee;
}
#page-heading-wrap .inner ul li a {
  text-decoration: underline;
  color: #28ff28;
}
#page-heading-wrap .inner ul li a:hover {
  color: #009cdc;
}
article {
  font-weight: 300;
}
article a:hover {
  color: #28ff28;
}
article.page {
  padding-left: 20px;
}
article.page .icon:before {
  content: '\f016';
}
article.post .icon:before {
  content: '\f016';
}
article.photo .icon:before {
  content: '\f030';
}
article.link .icon:before {
  content: '\f0c1';
}
article.link .title a:after {
  content: '\f08e';
  color: #999;
  font: 12px FontAwesome;
  padding-left: 10px;
  vertical-align: super;
}
article .post-content {
  margin-bottom: 50px;
  position: relative;
}
article .post-content-index {
  padding: 0 20px 0 77px;
  margin-bottom: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  article .post-content-index {
    padding-left: 20px;
    margin-bottom: 20px;
  }
}
article .post-content-index header {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  article .post-content-index header {
    margin-bottom: 15px;
  }
}
article .post-content-index header .icon {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  position: absolute;
  top: 10px;
  left: 20px;
  color: #28ff28;
}
@media screen and (max-width: 768px) {
  article .post-content-index header .icon {
    display: none;
  }
}
article .post-content-index header .icon:before {
  position: absolute;
  font: 45px FontAwesome;
  top: 0;
  left: 0;
  width: 32px;
  text-align: center;
}
article .post-content-index header .title {
  font-size: px;
  font-weight: 300;
}
article .post-content-index header .title a {
  color: #28ff28;
}
article .post-content-index header .title a:hover {
  color: #009cdc;
  text-decoration: none;
}
article .post-content-index header ul {
  margin-top: 3px;
  list-style: none;
}
article .post-content-index header ul li {
  margin-right: 15px;
  display: inline;
}
@media screen and (max-width: 768px) {
  article .post-content-index header ul li {
    display: block;
    font-size: 0.8em;
    line-height: 22px;
  }
}
article .post-content-index header ul li .heading-span {
  color: #444;
  font-weight: 400;
}
article .post-content-index header ul li time {
  color: #fff;
  display: inline;
}
article .post-content-index header ul li a {
  text-decoration: underline;
  color: #28ff28;
}
article .post-content-index header ul li a:hover {
  color: #009cdc;
}
article .gallery {
  overflow: hidden;
  position: relative;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
article align center .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
article align center .prev,
article align center .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article align center .prev:before,
article align center .next:before {
  position: absolute;
  font: 24px/1 FontAwesome;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article align center .prev {
  left: 0;
}
article align center .prev:before {
  content: '\f053';
  left: 10px;
}
article align center .next {
  right: 0;
}
article align center .next:before {
  content: '\f054';
  right: 10px;
}
article .entry {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}
article .entry p {
  word-wrap: break-word;
}
article .entry blockquote {
  border-left: 4px solid #28ff28;
  font-style: bold;
  font-family: Monaco, Menlo, Consolas, Courier New, 'Microsoft Yahei';
  font-size: 0.8em;
  padding: 5px 30px 5px;
  text-align: left;
}
article .entry blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .entry blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .entry code,
article .entry pre {
  font-family: Monaco, Menlo, Consolas, Courier New, 'Microsoft Yahei';
}
article .entry code {
  background: #eee;
  color: #666;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-radius: 3px;
}
article .entry pre {
  background: #272727;
  border: 1px solid #ddd;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
  border-radius: 2px;
}
article .entry pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry h1,
article .entry h2 {
  font-weight: bold;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  font-weight: normal;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  border: none;
}
article .entry iframe {
  border: none;
}
article .entry .caption {
  display: block;
  margin-top: 5px;
  color: #999;
  position: relative;
  font-size: 0.9em;
  padding-left: 25px;
}
article .entry .caption:before {
  content: '\f040';
  position: absolute;
  font: 1.3em FontAwesome;
  position: absolute;
  left: 0;
  top: 3px;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
}
article align left {
  height: 0;
  overflow: hidden;
}
article align left iframe,
article align left object,
article align left embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article footer {
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #eee;
  margin-top: 25px;
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
@media screen and (max-width: 768px) {
  article footer {
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
}
article footer .share {
  margin-top: 10px;
}
article footer .alignright .more-link {
  font-style: bold;
  font-weight: 100;
  color: #28ff28;
}
article footer .alignright .more-link:hover {
  color: #009cdc;
  text-decoration: none;
}
article footer .alignright .more-link i {
  margin-left: 5px;
}
article footer .categories,
article footer .tags {
  position: relative;
  padding-left: 25px;
  margin: 5px 0;
}
article footer .categories:before,
article footer .tags:before {
  position: absolute;
  font: 1.1em FontAwesome;
}
article footer .categories a,
article footer .tags a {
  color: #999;
}
article footer .categories a:hover,
article footer .tags a:hover {
  color: #009cdc;
  text-decoration: none;
}
article footer .categories a:before,
article footer .tags a:before {
  font: 1.1em FontAwesome;
  padding-right: 10px;
  vertical-align: middle;
}
article footer .categories.comment-link:before,
article footer .tags.comment-link:before {
  content: '\f075';
}
article footer .categories:before {
  content: '\f07b';
  top: 2px;
  left: 1px;
}
article footer .tags:before {
  content: '\f02b';
  top: 3px;
  left: 2px;
}
article footer .article-nav {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
article footer .article-nav .article-prev,
article footer .article-nav .article-next {
  float: left;
  width: 48%;
  color: #009cdc;
  font-weight: normal;
}
article footer .article-nav .article-prev a:hover,
article footer .article-nav .article-next a:hover {
  color: #28ff28;
  text-decoration: none;
}
article footer .article-nav .article-next {
  text-align: right;
  float: right;
}
#comment {
  margin-bottom: 50px;
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
#pagination a {
  display: block;
  padding: 5px 10px;
  background: #ddd;
  color: #000;
  text-shadow: 0 0 1px #fff;
  margin-bottom: 5px;
}
#pagination a:hover {
  background: #009cdc;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: FontAwesome;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: FontAwesome;
}
.archive-title {
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
  text-shadow: 0 0 0px #fff;
}
.archive-title:before {
  font-family: FontAwesome;
  content: '\f073';
  padding-right: 15px;
}
.archive-title.tag:before {
  content: '\f02b';
}
.archive-title.category:before {
  content: '\f07b';
}
.archive {
  margin-bottom: 50px;
}
.archive .post {
  margin-top: 10px;
  border-bottom: 1px dashed #ddd;
}
.archive .post .post-content-index {
  margin-bottom: 0;
}
#sidebar {
  width: 270px;
  line-height: 1.4em;
}
@media screen and (max-width: 992px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #000;
  margin-bottom: 30px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
}
#sidebar .widget .entry li {
  padding-bottom: 10px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 10px;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  list-style: disc;
  margin-left: 20px;
}
#sidebar .search {
  margin-bottom: 30px;
}
#sidebar .search input {
  font-family: 'Open Sans', Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", 'Microsoft Yahei', Simsun, sans-serif;
  background: #fff;
  font-style: normal;
  font-size: 0.9em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
}
#sidebar .search input:focus {
  border-color: #00a8ed;
  -webkit-box-shadow: 0 0 10px #98e1ff;
  box-shadow: 0 0 10px #98e1ff;
}
#sidebar .tag small,
#sidebar .category small {
  margin-left: 5px;
  color: #999;
}
#sidebar .tag small:before,
#sidebar .category small:before {
  content: '(';
}
#sidebar .tag small:after,
#sidebar .category small:after {
  content: ')';
}
#sidebar .tag a {
  margin-right: 5px;
  padding: 5px 7px;
  border: 1px dashed #6c6c6c;
  float: left;
  display: block;
  margin-bottom: 5px;
}
#sidebar .tag a:hover {
  background: #eee;
  border-color: #ddd;
  text-decoration: none;
}
#sidebar .twitter li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sidebar .twitter li:last-of-type {
  border-bottom: none;
}
#sidebar .twitter small {
  display: block;
  margin-top: 10px;
  color: #999;
  line-height: 1;
}
#sidebar .tagcloud .entry {
  padding-right: 5px;
}
#sidebar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
#footer {
  color: #999;
  margin-bottom: 5px;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  #footer {
    margin-bottom: 120px;
  }
}
#footer .alignleft {
  padding-top: 22px;
  font-family: 'Play', "Hiragino Sans GB", cursive, "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", Simsun, sans-serif;
}
#footer .alignright {
  padding: 15px 0;
  font-size: 2em;
  line-height: 1;
}
#footer .alignright a {
  color: #009cdc;
  margin-right: 12px;
}
#footer .alignright a:hover {
  color: #fff;
}
#footer .scroll-top {
  position: fixed;
  bottom: 100px;
  right: 25px;
  display: none;
  font-size: 70px;
  cursor: pointer;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 199;
}
@media screen and (max-width: 992px) {
  #footer .scroll-top {
    bottom: 0;
    right: 10px;
    font-size: 50px;
  }
}
.entry .gist {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: Monaco, Menlo, Consolas, Courier New, 'Microsoft Yahei';
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #999;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: #009cdc;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: #009cdc;
}
figure.highlight {
  background: #272727;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #000;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #fff;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
